<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Wiki</title>
</head>
<body>
<H1>Welcome to SaveWiki</H1>

<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<button id="g-auth-btn">Sign in with <b>Google</b></button>
<script>
function startApp() {
    gapi.load('auth2', function(){
        auth2 = gapi.auth2.init({
            client_id: '{{ client_id }}',
            cookiepolicy: 'single_host_origin',
        });
    });
}

$(document).on("click", "#g-auth-btn", ()=>{
    auth2.grantOfflineAccess({
        prompt:"consent",
        scope: '{{ scopes }}'
    }).then((signInCallback)=>{
        $.ajax({
            type:'post',
            data:signInCallback,
            cache: false,
            headers: {"X-CSRFToken": $.cookie('csrftoken')},
            success: function (response) {
                console.log(response);
                if(!!response.redirect){
                    window.location = response.redirect
                }
            },
            error: function (error) {
                console.log(error);
                if(!!error.responseJSON.redirect){
                    window.location = error.responseJSON.redirect
                }
            }
        });
    });
});
startApp();
</script>
</body>
</html>